
/*
 Använd dessa och andra för att slutföra projektet enligt specification. En kund kommer in och frågar om en re-branding av deras nyhets hemsida SSB kunden har vissa krav och kommer komma med flera krav vid ett senare skede.

- Färger
    - Header = #4484CE x
    - Text i header = #FFFFFF x
    - header-search bakgrund = #7aa8dc x
    - header-search text = #FFFFFF x
    - body = #FDFDFE x
    - article-header = #FFFFFF x
    - article-summery, article-tag = #d3d3d3 x
    - main-header-timestamp = #6c6c6c x
    - news-article-header = #212121 x
    - news-article-summary, main-header-header, section-header = #4a4a4a x
    - footer = #4c4c4cx
    - footer text = #FFFFFFx
- Texter
    - h1  ska ha familj **sans-serif** och storlek **24px** x
    - all annan text ska ha familj **'Times New Roman', Times, serif**
    - h2 storlek **22px** x
    - article-header och news-article-header ska ha **20px**x
    - article-tag och news-article-tag ska ha 14px i storlek
    - övrig text har 16px
- Storlek
    - container ska vara **1200px** i bredd
        - Med en margin av 0 i vertikal och auto i horizontal
    - news-article
        - höjd 350px
        - bild ./images/news/news-image1.jpeg
            - höjd 200px
        
        [https://source.unsplash.com/random/800x450](https://source.unsplash.com/random/800x450)
        
*/

*{
    margin: 0; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    color: #FDFDFE;
    background-color: #FDFDFE;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 100vw;
}

h1 {
    font-family: sans-serif;
    font-size: 24px;
}

h2 {
    font-size: 22px;

}

h3 {

}

.link {

}

.link:hover {

}

.container {
    width: 1200px;
    margin: 0 auto;
    /*change to min() for layout solution*/
    width: 1200px;
    margin: 0 auto;

}

.tag {


}

h2.tag {

}

.tag::before {


}

h2.tag::before {

}

/* HEADER */

.header {
    background-color: #4484CE;
    color: #FFF;
}

.header .container {
    color: #FFFFFF;

}

.header-title-letter {

}

.header-search {
    background-color: #7aa8dc;
    color: #fff;
}

.header-search::placeholder {
    color: #FFFFFF;
}

nav .nav-list {

}

/* CONTENT */

.main-header-header{
    color: #4a4a4a;
    color: #4a4a4a;
}

.section-header {
    color: #4a4a4a;
}
/* ARTICLE */

.article {

}


.article:hover .article-overlay {

}



.featured-articles {
    text-align: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.featured-articles:nth-child(odd) {
    background-color:burlywood;
}

/* In pseudo redefine background gradient as .article-overlay */
.article-overlay {

}

.article.main-article {
    background-color: blueviolet;
    grid-area: 1 / 1 / span 2 / span 4;
}

.article1 {
    background: #eb01a5;
    background-image: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/702C/production/_127461782_whatsappimage2022-11-01at10.32.19am.jpg"); /* fallback */
    background-image: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/702C/production/_127461782_whatsappimage2022-11-01at10.32.19am.jpg"), linear-gradient(#eb01a5, #d13531); /* W3C */
    grid-area: 3/ 1 / span 2 / span 2;
}

.article2 {
    background: #eb01a5;
    background-image: url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/11EC8/production/_127461437_gettyimages-1244384170.jpg"); /* fallback */
    background-image: url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/11EC8/production/_127461437_gettyimages-1244384170.jpg"), linear-gradient(#eb01a5, #d13531); /* W3C */
    
    background-color: bisque;
    grid-area: 3/ 3 / span 1 / span 1;
}

.article3 {
    background-color: chocolate;
    grid-area: 3/ 4 / span 1 / span 1;
}

.article4 {
    background-color: cornflowerblue;
    grid-area: 4/ 3 / span 1 / span 1;
}

.article5 {
    background-color: darkgreen;
    grid-area: 4/ 4 / span 1 / span 1;
}

/* .article6 {      removed due to not existing
    background-color:chartreuse;
    grid-area: 4/ 4 / span 1 / span 1;
} */


.main-article-play-icon {

}

.main-article-play-icon:hover {

}

.article-content {


}

.article-header.main-article-header{

}

.article-header {
    background-color: #fff;
    font-size: 20px;
}

.article-summery {
    color: #d3d3d3;
}

.article-tag {
    color: #d3d3d3;
    font-size: 14px;
}

.article-tag:hover {

}

/* NEWS ARTICLE */

.news-articles {
    display: grid;
    grid-template: 1fr / auto auto auto;
}
.news-article {
    height: 350px;
}

.news-article-image {
    height: 200px;
}

.news-article-header {
    color: #212121;
    font-size: 20px;
}

.news-article-summary {
    color: #4a4a4a;
}

.news-article-tag {
    font-size: 14px;
}

.main-header-timestamp {
    color: #6c6c6c;
}

/* FOOTER */

footer {

    background-color: #4c4c4c;
    color: #fff;
}

footer .link-grid {

}

.footer .footer-list-item {
    color: #FFFFFF;
}